---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Página não encontrada">
    <h1>404</h1>
    <p>A página que você procura não existe.</p>
    <p><a href="/">Voltar para o início</a></p>
</BaseLayout>
