{% include header.html %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
        
	        	<img alt="Marcel Braghini Foto" src="https://instagram.fpfb1-1.fna.fbcdn.net/vp/992a6f85e0feaf0e79dab657df735cdd/5BF52281/t51.2885-19/s150x150/22639338_1963708657237523_2669708811714953216_n.jpg" height="200" width="150">
	        	<h2>Bio</h2>
	        	<p>Formado em Sistemas de Informação pela Unochapecó, em Ciências Contábeis pela Unopar, atuando no desenvolvimento de aplicações web desde 2016, com foco em java, cdi, hibernate, integração contínua e banco de dados Postgres e SqlServer.</p>

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}