{% include header.html %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
          
        	<br><br>
          <img alt="Marcel Braghini Foto" src="https://avatars3.githubusercontent.com/u/22922468?s=400&u=f9f0cbdcc7ff0e02ae7e37ffb4c1225cb3c21c22&v=4">
          <br><br>
        	<h2>...</h2>
        	<p>Formado em Sistemas de Informação pela Unochapecó, em Ciências Contábeis pela Unopar, com pós graduação em gestão de projetos, atuando no desenvolvimento de aplicações web desde 2016 em Chapecó-SC, trabalhando com: API's em Java, microserviços, mensageria, git, docker, bancos relacionais e NoSQL.</p>

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}