{% include header.html %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
          
        	<br><br>
          <img alt="Marcel Braghini Foto" 
          src="https://avatars3.githubusercontent.com/u/22922468?s=400&u=f9f0cbdcc7ff0e02ae7e37ffb4c1225cb3c21c22&v=4"
          width="200" height="200">
          <br><br>

          <div class="hero-buttons">
            {% if site.github_username != '' %}
              <a href="https://github.com/{{site.github_username}}" target="_blank"><button class="btn btn-default btn-md"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.instagram_username != '' %}
              <a href="https://www.instagram.com/{{site.instagram_username}}" target="_blank"><button class="btn btn-default btn-md"><i class="fa fa-instagram fa-lg"></i>Instagram</button></a>
            {% endif %}  
            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><button class="btn btn-default btn-md"><i class="fa fa-linkedin fa-lg"></i>Linkedin</button></a>
            {% endif %}
          </div>
          
        	<p>Formado em Sistemas de Informação pela Unochapecó, pós graduado em Gestão de Projetos pela
          Universidade Positivo, atuando no desenvolvimento back-end com java para a web desde 2016 em Chapecó-SC,
          com conhecimentos em: Spring Boot, Quarkus, bases de dados SqlServer, Postgres e Mongodb, 
          com mensageria utilizando o Rabbitmq, micro serviços, containers com Docker, integração contínua com Jenkins e Git.</p>

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <img alt="spring-logo" src="/img/spring.jpg" width="200" height="100">
          <img alt="quarkus-logo" src="/img/quarkus.png" width="200" height="100">
          <img alt="sqlserver-logo" src="/img/sqlserver.png" width="200" height="100">
          <img alt="postgres-logo" src="/img/postgres.png" width="200" height="100">
          <img alt="mongodb-logo" src="/img/mongodb.png" width="200" height="100">
          <img alt="rabbitmq-logo" src="/img/rabbitmq.png" width="200" height="100">
          <img alt="microservice-logo" src="/img/microservice.png" width="200" height="100">
          <img alt="docker-logo" src="/img/docker.png" width="150" height="100">
          <img alt="jenkins-logo" src="/img/jenkins.png" width="200" height="100">
          <img alt="git-logo" src="/img/git.png" width="200" height="100">

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}